
.single-post {
    .entry-content img {
      width: 100%;
    }
    .meta .tag {
      @include tag(inherit, $light-gray);
    }
    .quote {
      font-size: 1.25rem;
      font-weight: 700;
      font-style: italic;
      margin: 8rem;
      text-align: center;
      &:before, &:after {
        vertical-align: -19px;
        font-size: 4rem;
        font-family: cursive;
        font-weight: 600;
        line-height: 0;
      }
      &:before {
        content: '"';
        margin-right: 7px;
      }
      &:after {
        content: '"';
      }
    }
    .post-content {
      margin: 3rem 5rem;
      .title {
        font-weight: 700;
      }
      .title, .body {
        margin: 0;
      }
  }
}

.blog-section,
.home-section,
.podcast-section {
  //margin: 5rem 0;
  .entry-title, .grid-category {
    display: none;
  }

  .masonry-layout .tag {
    @include tag(14px);
    padding: 0;
  }

  .masonry-layout .post-info {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    line-height: 1.86;
    margin: 0;
    padding: 2rem;
    max-width: 720px;
    font-size: .9rem;
    color: white;
    z-index: 1;
    a {
      color: #fff;
    }
    .date {
      margin: .5rem 0;
      > i {
        padding-right: .25rem;
      }
    }

    .title {
      letter-spacing: .05rem;
      font-size: 1.25rem;
    }

    .excerpt {
      font-size: inherit;
    }

  }

  .masonry-layout .thumbnail-image:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.blog-section,
.home-section,
.podcast-section {
  .grid-stack > div:first-child {
    @extend .feature-large;
  }
}

.g-owlcarousel-item-title {
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.7;
}



/** Podcast **/

.podlovewebplayer_wrapper .podlovewebplayer_top,
.podlovewebplayer_wrapper .podlovewebplayer_meta,
.podlovewebplayer_wrapper .mejs-container .mejs-controls {
  background: #2a2a2a !important;
}

.podlovewebplayer_wrapper, .podlovewebplayer_audio {
  margin-bottom: 2rem;
}