
@mixin icon($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

@mixin tag($font-size, $background: transparent) {
  padding: .25rem 1.5rem;
  display: inline;
  background: $background;
  border-radius: 100px;
  font-weight: 600;
  font-size: $font-size;
  text-transform: uppercase;
}

@mixin avatar($image) {
  background-image: url($image);
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
  margin: 0 auto;
}

@mixin nav-vertical($background-color: transparent, $border-color: transparent) {
  ul {
    display: flex;
    flex-direction: column;
    li {
      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }
  }
  nav {
    background: $background-color;
  }
}

@mixin masonry() {
  display: flex;
  flex-flow: row wrap;
  //margin-left: -8px;
  height: auto;
  .g-grid {
    flex: auto;
    //height: 250px;
    min-width: 150px;
    margin: 0;
  }
}

@mixin button($background: transparent, $color: #ffffff) {
  display: inline-block;
  font-family: "Montserrat";
  font-weight: 600;
  background-color: $background;
  line-height: 1.15;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $color;
  border: 1px solid transparent;
  border-radius: 2.5rem;
  margin: 0 0 0.5rem 0;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  text-shadow: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
