.woocommerce {
  div.product {
    .product_title {
      margin: 0;
      font-weight: 800;
    }
    p.price, span.price {
      color: #2a2a2a;
    }
  }
  #respond input#submit.alt,
  a.button.alt,
  button.button.alt,
  input.button.alt,
  #respond input#submit,
  a.button,
  button.button,
  input.button {
    @include button($base-color);
    @extend .button.small;
  }
}

.woocommerce-product-details__short-description p {
  margin: 1rem 0 2rem;
}

.woocommerce div.product {
  form.cart {
    div.quantity {
      margin-right: 20px;
    }
    .button {
      margin-top: 10px;
    }
  }
  .woocommerce-tabs ul.tabs li a {
    font-weight: 600;
    font-size: .8rem;
  }
}

.related.products > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.woocommerce {
  .woocommerce-tabs .panel h2 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  div.product .woocommerce-tabs {
    ul.tabs li {
      background: #fff;
      &.active {
        background: $base-color;
      }
      a {
        color: #fff;
      }
    }
    .panel {
      font-size: .9rem;
      width: 80%;
      margin: 0 auto;
    }
  }
  #reviews #comments ol.commentlist li {
    .comment-text {
      border-bottom: 1px solid #eaeaea;
      padding-top: 0;
    }
    img.avatar {
      width: 52px;
      border-radius: 50%;
    }
  }
  .panel .comment-reply-title {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .woocommerce-review__author {
    font-size: .8rem;
  }
  ul.products {
    text-align: center;
  }
  ul.products li.product {
    a {
      img {
        width: 100px;
        margin: 0 auto;
      }
    }
    .price {
      color: #2a2a2a;
      font-weight: 600;
    }
  }
}

.woocommerce-loop-product__title {
  flex-basis: 60%;
  font-weight: 600;
  color: #2a2a2a;
}

.woocommerce ul.products li.product .button {
  margin: 0 3rem;
}

.woocommerce-tabs .wc-tabs-wrapper {
  padding: 2rem 0 3.25rem;
}

.shop-section {
  .grid-post-item {
    .categories {
      display: none;
    }
    .title {
       a:hover {
         color : $base-color;
         text-decoration: underline;
       }
    }
  }
  .grid-post-item .thumbnail-image {
    //background-size: 10rem;
    //background-repeat: no-repeat;
    //background-color: $light-gray;
  }
  .grid-post-item .post-info {
    padding: 40px;
    text-align: center;
    width: 100%;

    .price {
      font-size: .9rem !important;
      font-weight: 600 !important;
    }
    .woocommerce.woocommerce-page.woof_shortcode_output {
      display: none;
    }

  }
  .grid-category a.active, .grid-category a:hover, .grid-category a:focus, .grid-category a:active {
    color: #fff;
    background: $base-color;
  }

  .grid-category a {
    background: $light-gray;
  }


  .grid-post-item .icon-groups > a, .grid-post-item a.compare.button, .grid-post-item .hover-outer .yith-wcwl-add-to-wishlist > div.show a,
  a.ladda-button.add-to-cart {
    border-radius: 20px;
    border-width: 2px;
    padding: 0;
    width: 100%;
  }
  .grid-post-item .yith-wcwl-add-to-wishlist > div.show, .grid-post-item .yith-wcwl-add-to-wishlist > div.show a, .grid-post-item .yith-wcwl-add-to-wishlist {
    width: 100%;
  }
  .grid-post-item .icon-groups {
    overflow: visible;
    width: 9rem;
  }

  .grid-post-item .icon-groups > a + a {
    margin-left: 0;
    margin-top: 7px;
  }
}


.woocommerce.woocommerce-page.woof_shortcode_output {
  display: none;
}

.woocommerce-products-header__title {
  display: none;
}

.shop-section .grid-category {
  margin-bottom: 0;
}

.shop-section .grid-category:before {
  content: "Filters: ";
  vertical-align: 12px;
  margin-right: 10px;
  font-weight: 600;
}

  .grid-stack-item.small .thumbnail-image {
    background-position: right;
  }
  .grid-stack-item.small .post-info {
    text-align: left;
    max-width: 100px;
    line-height: 0;
    padding: 40px 26px;
  }

.shop-section .grid-post-item .icon-groups > a:hover,
.shop-section .grid-post-item .hover-outer .yith-wcwl-add-to-wishlist > div.show a:hover,
.shop-section a.ladda-button.add-to-cart:hover {
  border-color: transparent;
  background-color: $base-color;
  color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: #fff;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: $base-font-color;
}

.woocommerce #reviews #comments ol.commentlist li .comment-text {
  border-width: 0 0 1px;
}

.woocommerce-tabs.wc-tabs-wrapper {
  margin: 5rem 0;
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
  background: $light-gray;
}

.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
  background: $base-color;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
  background: darken($base-color, 5%);
  color: #fff;
}


