

/** Base Colors **/

$base-font-color : #2a2a2a;
$base-font-weight: 500;
$base-font-size: .95rem;
$base-color: #660961;


/** Grays **/
$light-gray: #ececec;
$med-gray: #777;


/** Slab Positions **/
$positions: 'center' center, 'left' left, 'right' right;


/*** Buttons ***/

$buttons: 'default' $light-gray, 'primary' purple;


$body-width: 65rem;